html {
    background-color: #e7eeed;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
  }
@media only screen and (max-width: 640px) {
   html {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0 auto;
   }
}

/*************
Navbar Section
*************/
header {
    width: 100%;
    height: 170px;
    background-color: #133cb8;
    position: fixed;
    top: 0px;
    z-index: 5;
    border-bottom: 0.02rem solid #000 ;
}
#header-name {
    text-align: center;
    border-bottom: 0.002rem solid #000 ;
    height: 60px;
    margin-top: 30px;
    font-size: 2.25rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
#header-name span{
    padding: 0 3rem 0 3rem;
    border-left: 0.02rem solid #000;
    border-right: 0.02rem solid #000;
}

#nav-bar {
    display: flex;
    width: 30%;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 0.875rem;
    letter-spacing: 0.1rem;
}
.nav-link {
    color: #fff;
    text-decoration: none;
}
.nav-link:hover {
    color: #8ef1bf;
}
.nav-link:active {
    color: rgb(97, 97, 97);
}

@media only screen and (max-width: 640px){
    .nav-link {
        padding: 1rem;
       }
    #header-name span{
        border: none;
       }
}

/************
Intro Section
************/
#intro {
    background-color: #e7eeed;
    margin-top: 10.625rem;
    padding-top: 5%;
    width: 100%;
    border-bottom: 0.005rem solid #000 ;
    color: #212121;
}
#intro-container {
    width: 50%;
    margin: 0 auto;
    height: auto;
    margin-top: 1rem;
    display: flex;
}
#toy-me {
    width: auto;
    height: 22rem;
}
#intro-container span {
    font-weight: bold;
    font-size: 1.875rem;
    color:#133cb8;
}
#intro-container p {
    font-size: 1rem;
    line-height: 2;
    margin: 1.875rem 0 8.75rem 0;
}
#intro-content{
   margin-left: 2rem;
   margin-top: 2rem;
}

@media only screen and (max-width: 1007px) {
   #intro-container {
    width: 60%;
   }
    #intro-container p {
    line-height: 1.2;
   }

}
@media only screen and (max-width: 640px) {
    #intro-content {
        margin-left: 0;
        text-align: center;
    }
    #intro-container {
        display: block;
        width: 90%;
    }
    #toy-container{
        width: 100%;
    }
    #toy-me {
        width: auto;
        height: 16rem;
        display: block;
        margin: auto;
    }
    #intro-container p {
        margin-bottom: 4rem;
    }
}

/***************
Projects section
***************/
#projects-header {
    display: block;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
    color: #8ef1bf;
    font-size: 6.25rem;
    font-weight: bold;
}

#projects {
    background-color: #133cb8;
    height: 87rem;
    display: block;
    margin: auto;
    padding: 1%;
    width: 100%;
    
}

#projects-container { 
    display: grid;
    row-gap: 0.9375rem;
    column-gap: 0.625rem;
    grid-template-rows: repeat(6, 13rem);
    background-color: #133cb8;
    width: 70%;
    margin: 0 auto;

}

.project {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;
    background-color: #fff;
}

.project-title {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing:0.05rem;
    color: #040404;
}

.project-description {
    grid-column-start: 2; 
    background-color: #fff;
    padding: 20px;
    font-size: 1rem;
    margin: 1rem;
    color: #040404;
}
.project-description p{
    margin-top: 1rem;
}

#project-1 {
    grid-row: 1 / 2;
}
#project-2 {
    grid-row: 2 / 3;
}
#project-3 {
    grid-row: 3 / 4;
}
#project-4 {
    grid-row: 4 / 5;
}
#project-5 {
    grid-row: 5 / 6;
}
#project-6 {
    grid-row: 6 / 7;
}

/* project links */
.project-link {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color:   #a6aaa2;
    text-align: center;
}
.project-img {
    width: 10rem;
    height: auto;
    margin:auto;
    margin-top: 1rem;
    border: 1px solid #000;
    border-radius: 20px;
    transition: box-shadow .15s,transform .15s;
    margin: 10px, auto, 10px, auto;
    display: block;
}
.project-img:hover {
    box-shadow: rgb(228, 223, 210) 0 4px 8px, rgb(228, 223, 210) 0 6px 7px -3px, #D6D6E7 0 -3px 0 inset;;
    transform: translateY(-2px);
}
.project-img:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}
.project-img:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);

}

/*github links */
.github-button {
    width: 6rem;
    height: auto;
    margin-top: 1.4rem;
    padding: 0;
    border-radius: 10px;
    background-color: #FCFCFD;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    transition: box-shadow .15s,transform .15s;
    z-index: 1;
}
.gitub-button:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}
.github-button:hover {
    box-shadow: rgb(228, 223, 210) 0 4px 6px, rgb(228, 223, 210) 0 5px 4px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
} 
.github-button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}
#responsive-footer {
    display: none;
}


@media only screen and (max-width: 640px){
    .project {
        display: block;
        padding: 1rem 0 1rem 0;
        margin-bottom: 1rem;

    }
    #projects {
        width: 100%;
        height: auto;
        margin-bottom: 5rem;
        padding: 0px;
    }
    #projects-header {
        max-width: 640px;
        font-size: 3rem;
    }
    #projects-container{
        display: block;
        max-width: 100%;
        margin: 0 auto;
        padding-bottom: 2rem;
    }
    .project-link {
        background-color: #a6aaa2;
        padding: 0.5rem 0 1rem 0;
        width: 75%;
        margin: 0 auto;
    }
    .project-img {
        border-radius: 0;
    }
}

/*************
Footer Section
*************/
footer {
    position: bottom;
    background-color: #e7eeed;
    height: 11rem;
    width: 100%;
    font-size: 1rem;
    text-align: center;
    padding-top: 2rem;
}

#footer-container{
    width: 100%;
    display: flex;
}
.footer-content{
    height: 4.5rem;
}
#footer-github-linkedin {
    width: 30%;
    padding-top: 1.9rem;
    align-items: center;
}
#footer-center {
    width: 40%;
    padding-top: 1.7rem;
    border-left: 0.02rem solid black;
    border-right: 0.02rem solid black;
    font-size: 1.5rem;
    font-weight: bold;
    color: #133cb8
}
#contact {
    width: 30%;
    padding-top: 1.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.125rem;
}
#contact a{
    color: #133cb8;
}
.footer-links-right {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 5px;
}
#github {
    width: 4rem;
    height: auto;
    padding-right: 1rem;
}
#linkedIn {
    width: 3.7rem;
    height: auto;
}
#base-container {
    margin-top: 1rem;
    border-top: 0.02rem solid black;
    padding-top: 1rem;
}
#base-container span{
    font-style: italic;
    padding: 0 1rem 0 1rem;
    border-left: 0.02rem solid black;
    border-right: 0.02rem solid black;
    font-size: 0.8rem;
}
#contact a:hover {
    color: #8ef1bf;
}

@media only screen and (max-width: 640px) {
    footer {
     display: none;
    }
    #responsive-footer {
        display: block;
        background-color: #8ef1bf;
        height: 11rem;
        width: 100%;
        font-size: 1rem;
        text-align: center;
    }
    
    #responsive-footer-container{
        width: 100%;
        display: flex;
        background-color: #e7eeed;
        padding-bottom: 1rem;
    }
    .footer-content{
        height: 4.5rem;
    }
    #responsive-github-linkedin {
        width: 25%;
        padding-top: 1.9rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #responsive-right {
        width: 25%;
        padding-top: 1.7rem;
    }
    #responsive-contact {
        width: 50%;
        padding-top: 1.4rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.125rem;
    }
    #github {
        width: 1.7rem;
        height: auto;
        background-color: #e7eeed;
    }
    #linkedIn {
        width: 1.7rem;
        height: auto;
        background-color: #e7eeed;
    }
    #responsive-base {
        border-top: 0.02rem solid black;
        padding-top: 1rem;
        background-color: #8ef1bf;
    }
    #responsive-base span{
        font-style: italic;
        padding: 0 1rem 0 1rem;
        font-size: 0.8rem;
    }
    .footer-links-right:hover {
        color: #8ef1bf;
    }
    
}