html {
    background-color: #ffd42d;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
  }

/*************
Navbar Section
*************/
header {
    width: 100%;
    height: 170px;
    background-color: #ffd42d;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3;
    border-bottom: 0.05rem solid #000 ;
}
#header-name {
    text-align: center;
    border-bottom: 0.005rem solid #000 ;
    height: 60px;
    margin-top: 30px;
    font-size: 2.25rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#nav-bar {
    display: flex;
    width: 30%;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 0.875rem;
    letter-spacing: 0.1rem;
}
.nav-link {
    color: #000;
    text-decoration: none;
}
.nav-link:hover {
    color: #fff;
}
.nav-link:active {
    color: rgb(97, 97, 97);
}


/************
About Section
************/
#about {
    background-color: #ffd42d;
    margin-top: 170px;
    padding-top: 5%;
    height: auto;
    width: 100%;
    border-bottom: 0.005rem solid #000 ;

}
#about-container {
    width: 40%;
    margin: 0 auto;
    height: auto;
    margin-top: 60px;
}
#about-container span {
    font-weight: bold;
    font-size: 1.875rem;
}
#about-container p {
    font-size: 1rem;
    line-height: 2;
    margin: 30px 0px 140px 0px;
}


/***************
Projects section
***************/
#projects-header {
    display: block;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
    color: #Fff;
    font-size: 6.25rem;
    font-weight: bold;
}

#projects {
    background-color: #ffd42d;
    height: 100rem;
    display: block;
    margin: auto;
    padding: 1%;
    width: 100%;
    
}

#projects-container { 
    display: grid;
    row-gap: 15px;
    column-gap: 10px;
    grid-template-rows: repeat(6, 13rem);
    background-color: #ffd42d;
    width: 70%;
    margin: 0 auto;

}

.project {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;
    background-color: #fff;
}

.project-title {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing:0.05rem
}

.project-description {
    grid-column-start: 2; 
    background-color: #fff;
    padding: 20px;
    font-size: 1rem;
    margin: 1rem;
    color: #000;
}
.project-description p{
    margin-top: 1rem;
}

#project-1 {
    grid-row: 1 / 2;
}
#project-2 {
    grid-row: 2 / 3;
}
#project-3 {
    grid-row: 3 / 4;
}
#project-4 {
    grid-row: 4 / 5;
}
#project-5 {
    grid-row: 5 / 6;
}
#project-6 {
    grid-row: 6 / 7;
}

/* project links */
.project-link {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color:   #a6aaa2;
    text-align: center;
}
.project-img {
    width: 10rem;
    height: auto;
    margin:auto;
    margin-top: 1rem;
    border: 1px solid #000;
    border-radius: 20px;
    transition: box-shadow .15s,transform .15s;
    margin: 10px, auto, 10px, auto;
    display: block;
}
.project-img:hover {
    box-shadow: rgb(228, 223, 210) 0 4px 8px, rgb(228, 223, 210) 0 6px 7px -3px, #D6D6E7 0 -3px 0 inset;;
    transform: translateY(-2px);
}
.project-img:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}
.project-img:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);

}

/*github links */
.github-button {
    width: 6rem;
    height: auto;
    margin-top: 1.4rem;
    padding: 0;
    border-radius: 10px;
    background-color: #FCFCFD;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    transition: box-shadow .15s,transform .15s;
    z-index: 1;
}
.gitub-button:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}
.github-button:hover {
    box-shadow: rgb(228, 223, 210) 0 4px 6px, rgb(228, 223, 210) 0 5px 4px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
} 
.github-button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}


/*************
Footer Section
*************/
footer {
    position: bottom;
    background-color: rgb(183, 183, 202);
    left: 0px;
    padding-top: 15px;
    height: 80px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 0 auto;
    font-size: 2rem;
    align-items: center;
}
footer div{
    width: 30%
}


#github {
    width: 110px;
    height: auto;
}

#email {
    width: 80px;
    height: auto;
}

#phone {
    width: 70px;
    height: auto;
}

#linkedIn {
    width: 110px;
    height: auto;
}
